* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: contents;
}

.header {
    padding-top: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header__logo {
    display: flex;
    color: #000;
    font-size: 24px;
    font-family: Gilroy-Bold;
    align-items: center;
}

.color__text {
    color: #F25822;
    font-size: 24px;
    font-family: Gilroy-Bold;
}

.header__link1 {

    color: #F25822;
    font-size: 14px;
    font-family: Gilroy-SemiBold;
}

.header__link {
    color: #000;
    font-size: 14px;
    font-family: Gilroy-SemiBold;
}

.main__content {
    display: flex;
    padding-top: 164px;
    padding-bottom: 200px;
    padding-left: 100px;
    padding-right: 100px;
}

.title {
    color: #000;
    font-size: 60px;
    font-family: Gilroy-Bold;
    padding-bottom: 17px;
}

.text {
    color: #888;
    font-size: 20px;
    font-family: Gilroy-Medium;
    padding-bottom: 37px;
}

.main__content__button {}

.button__1 {
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-size: 15px;
    font-family: Gilroy-Bold;
}

.button__2 {
    background-color: #FFF;
    border: none;
    color: #AAA;
    font-size: 15px;
    font-family: Gilroy-Bold;
}

.footer {
    padding-bottom: 97px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}