<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>семинар 1 задание 7</h1>
        <table>
            <tr>
                <th>Название новости</th>
                <th>Заголовок</th>
                <th>Тезисы</th>
                <th>Дата создания</th>
            </tr>
            {% for item in context %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.content }}</td>
                <td>{{ item.data }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
