* {
    margin: 0;
    padding: 0;
}

.center {
    max-width: 1146px;
    width: 100%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-size: 24px;
    font-family: Gilroy-Bold;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 45px 0 164px 0;
}

.menu-list {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.menu-item {
    display: flex;
    justify-content: start;
}

.header__logo {
    padding-left: 14px;
    display: flex;
    color: #000;
    font-family: Gilroy-Bold;
    align-items: center;
}

.color__text {
    color: #F25822;
}

.header__link1 {
    color: #F25822;
    font-size: 14px;
    font-family: Gilroy-SemiBold;
}

.header__link {
    color: #000;
    font-size: 14px;
    font-family: Gilroy-SemiBold;
}

.header__link:active {
    color: #F25822;
}

.header__link:hover {
    color: blue;
}

.main__content {
    display: flex;
    margin: 0 auto 200px;
    gap: 41px;
}

.main__text {
    max-width: 522px;
    width: 100%;
}

.title {
    color: #000;
    font-size: 60px;
    padding-bottom: 17px;
}

.text {
    padding-bottom: 37px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-weight: 400;
    max-width: 466px;
    width: 100%;
}

.button__1 {
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-size: 15px;
    font-family: Gilroy-Bold;
}

.button__2 {
    background-color: #FFF;
    border: none;
    color: #AAA;
    font-size: 15px;
    padding-left: 72px;
}

.main__photo {
    width: 545px;
    height: 375px;
}

.main__photo img {
    width: 100%;
    height: 100%;
}

.footer {
    padding-bottom: 97px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.logo-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}