* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* .block1 {} */

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
}

.cells {
    display: flex;
    flex-direction: row;
    padding: 140px 0 125px 0;
}

.cell1 {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    width: 100%;
}

.cell2 {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    width: 100%;
}

.cell3 {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    width: 100%;
}

.svg__item__in__cell {
    padding-bottom: 25px;
}

.h1__text__in__cell {
    padding-bottom: 17px;
}

.p__text__in__cell {
    padding-bottom: 25px;
}

.button__in__cell {
    background-color: #fff;
    border: none;
    display: flex;
}

/* .block2 {} */

.block2 {
    padding: 92px 0;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

.block2__txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block2__title {
    padding-bottom: 19px;
}

.block2__text {
    padding-bottom: 54px;
    max-width: 682px;
    width: 100%;
    text-align: center;
}

.cells2 {
    max-width: 370px;
    width: 100%;
    border: none;
    background-color: #fff;
    gap: 30px;
    display: flex;
}

.block2__cell1 {}

.block2__cell2 {}

.block2__cell3 {}